<p-card>
    <ng-template pTemplate="title">
        Team information
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid">
            <div class="p-field">
                <label for="hostName">Host team</label>
                <input #hostName="ngModel" id="hostName" type="text" required pInputText [(ngModel)]="teamInformation.hostName" [ngClass]="{'ng-dirty': (hostName.invalid && submitted) || (hostName.dirty && hostName.invalid)}"> 
                <small *ngIf="(hostName.invalid && submitted) || (hostName.dirty && hostName.invalid)" class="p-error">Host name is required.</small>
            </div>
            <div class="p-field">
                <label for="guestName">Guest team</label>
                <input #guestName="ngModel" id="guestName" type="text" required pInputText [(ngModel)]="teamInformation.guestName" [ngClass]="{'ng-dirty': (guestName.invalid && submitted) || (guestName.dirty && guestName.invalid)}"> 
                <small *ngIf="(guestName.invalid && submitted) || (guestName.dirty && guestName.invalid)" class="p-error">Guest name is required.</small>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-between">
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>
