<div class="input-group mb-3">
    <span class="input-group-text">1</span>
    <input aria-describedby="basic-addon1" aria-label="Player 1" class="form-control" formControlName="player1"
           placeholder="Player" type="text">
</div>
<!-- 
<div class="input-group mb-3" *ngFor="let player of players">
    <span class="input-group-text" id="basic-addon1">{{player}}</span>
    <input type="text" class="form-control" placeholder="Player {{player}}" aria-label="Player 1" aria-describedby="basic-addon1" formControlName="player{{player}}">
</div> -->