<p-card>
    <ng-template pTemplate="title">
        Resume
    </ng-template>

    <ng-template pTemplate="content">
        
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="wizard-footer-buttons">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-right" iconPos="left"></p-button>
            <p-button label="Next" (onClick)="send()" icon="pi pi-angle-right" iconPos="right"></p-button>        
        </div>
    </ng-template>

</p-card>


