.single-match, .double-match {
    border: solid thin;
    margin-bottom: 10px;
    padding: 10px;
}

.set-points {
    font-size: 10px;
    color: gray;
    padding: 5px;
}

.row-item{
    padding: 5px;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {

    .column {
      flex-basis: 50%;
    }

    .third-column {
      flex-basis: 100%;
    }

    .third-column > button {
        width: 100%;
    }
  }
