<!--TODO move to another component-->
<div *ngIf="dto$ | async as dto">
    <h2>{{ dto.hostTeamName }} ({{dto.hostVictories}}) vs {{ dto.guestTeamName }} ({{ dto.guestVictories }})</h2>
    <p>Started at: {{ dto.startedAt | date }}</p>

</div>
<div *ngIf="!(dto$ | async)">Loading...</div>


<div *ngIf="overviewDto$ | async as overviewDto">
    <div *ngFor="let singleMatch of overviewDto.overviewSingleMatchDtos" class="single-match">
        <div class="p-grid" >
            <span class="p-col">
                {{singleMatch.hostPlayerName}}
            </span>
            <span class="p-col">
                {{singleMatch.hostPoints}}
            </span> 
        </div> 
        <div class="p-grid">
            <span class="p-col">
                {{singleMatch.guestPlayerName}}
            </span>
            <span class="p-col">
                {{singleMatch.guestPoints}}
            </span> 
        </div> 
    </div>
    <div *ngFor="let doubleMatch of overviewDto.overviewDoubleMatchDtos" class="double-match">
        <div class="p-grid" >
            <span class="p-col">
                {{doubleMatch.hostLeftPlayerName}} , {{doubleMatch.hostRightPlayerName}}
            </span>
            <span class="p-col">
                {{doubleMatch.hostPoints}}
            </span> 
        </div> 
        <div class="p-grid">
            <span class="p-col">
                {{doubleMatch.guestLeftPlayerName}} , {{doubleMatch.guestRightPlayerName}}
            </span>
            <span class="p-col">
                {{doubleMatch.guestPoints}}
            </span> 
        </div> 
    </div>

</div>