.single-match, .double-match {
    border: solid thin;
    margin-bottom: 10px;
    padding: 10px;
}

.set-points {
    font-size: 10px;
    width: 36px;
    text-align: center;
    color: gray;
    padding: 5px;
    display: inline-block;
}
.match-points {
    width: 36px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
