<h1>Todo</h1>

<p>This is a complex todo list component.</p>

<p *ngIf="!vm"><em>Loading...</em></p>

<div *ngIf="vm">

    <div class="row">
        <div class="col-sm-4">
            <div class="clearfix">
                <h2 class="float-left">Lists</h2>
                <button (click)="showNewListModal(newListModalTemplate)" class="btn btn-default float-right"
                        title="Add List...">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
            </div>
            <ul class="list-group">
                <li (click)="selectedList = list" *ngFor="let list of vm.lists; index as i"
                    [ngClass]="{ 'active': selectedList == list }" class="list-group-item">
                    <div class="clearfix">
                        <div class="float-left">
                            {{ list.title }}
                        </div>
                        <div class="float-right text-right">
                            <span class="badge badge-light">{{ remainingItems(list) }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="selectedList" class="col-sm-8">
            <div class="clearfix">
                <h2 class="float-left">{{ selectedList.title }}</h2>
                <button (click)="showListOptionsModal(listOptionsModalTemplate)" class="btn btn-default float-right" id="listOptions"
                        title="List Options...">
                    <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
            </div>
            <ul class="list-group mb-2" id="todo-items">
                <li *ngFor="let item of selectedList.items; index as i" class="list-group-item">
                    <div class="d-flex">
                        <div class="todo-item-checkbox">
                            <input (change)="updateItem(item)" [(ngModel)]="item.done" type="checkbox"/>
                        </div>
                        <div class="flex-fill">
                            <input (blur)="updateItem(item)" (keyup.enter)="updateItem(item, true)" *ngIf="item == selectedItem"
                                   [(ngModel)]="item.title" autofocus="autofocus"
                                   class="form-control item-input-control"
                                   id="{{ 'itemTitle' + i }}" type="text"/>
                            <div (click)="editItem(item, 'itemTitle' + i)" *ngIf="item != selectedItem"
                                 [ngClass]="{ 'done-todo': item.done }"
                                 class="todo-item-title" class="form-control item-input-control">
                                <span>{{ item.title }}</span>
                            </div>
                        </div>
                        <div class="todo-item-commands">
                            <button (click)="showItemDetailsModal(itemDetailsModalTemplate, item)" *ngIf="item.id != 0"
                                    class="btn btn-default btn-xs" role="button">
                                <fa-icon [icon]="faEllipsisH"></fa-icon>
                            </button>
                        </div>
                    </div>
                </li>
                <li (click)="addItem()" class="list-group-item">
                    <button class="btn btn-default">Add Item...</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="debug">
    <pre>{{ vm | json }}</pre>
</div>

<ng-template #listOptionsModalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">List Options</h4>
        <button (click)="listOptionsModalRef.hide()" aria-label="Close" class="close float-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="inputListTitle">Title</label>
            <input (keyup.enter)="updateListOptions()" [(ngModel)]="listOptionsEditor.title" class="form-control" id="inputListTitle"
                   placeholder="List name..." type="text"/>
        </div>
        <div *ngIf="debug">
            <pre>{{ listOptionsEditor | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <div class="clearfix">
            <div class="float-left">
                <button (click)="confirmDeleteList(deleteListModalTemplate)" class="btn btn-default text-danger">
                    Delete
                </button>
            </div>
            <div class="float-right">
                <button (click)="listOptionsModalRef.hide()" class="btn btn-default">Cancel</button>
                <button (click)="updateListOptions()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #itemDetailsModalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">Item Details</h4>
        <button (click)="itemDetailsModalRef.hide()" aria-label="Close" class="close float-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form">
            <div class="form-group">
                <label for="list">List</label>
                <select [(ngModel)]="itemDetailsEditor.listId" class="form-control">
                    <option *ngFor="let list of vm.lists" [ngValue]="list.id">{{ list.title }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <select [(ngModel)]="itemDetailsEditor.priority" class="form-control">
                    <option *ngFor="let level of vm.priorityLevels" [ngValue]="level.value">{{ level.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <textarea [(ngModel)]="itemDetailsEditor.note" class="form-control" id="note" rows="3"></textarea>
            </div>
        </div>
        <div *ngIf="debug">
            <pre>{{ itemDetailsEditor | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <div class="clearfix">
            <div class="float-left">
                <button (click)="deleteItem(selectedItem)" class="btn btn-default text-danger">Delete</button>
            </div>
            <div class="float-right">
                <button (click)="itemDetailsModalRef.hide()" class="btn btn-default">Cancel</button>
                <button (click)="updateItemDetails()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteListModalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">Delete "{{ selectedList?.title }}"?</h4>
        <button (click)="deleteListModalRef.hide()" aria-label="Close" class="close float-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>All items will be permanently deleted. </p>
        <div *ngIf="debug">
            <pre>{{ selectedList | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button (click)="deleteListModalRef.hide()" class="btn btn-default" type="button">Cancel</button>
            <button (click)="deleteListConfirmed()" class="btn btn-danger" type="button">Delete</button>
        </div>
    </div>
</ng-template>

<ng-template #newListModalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">New List</h4>
        <button (click)="newListCancelled()" aria-label="Close" class="close float-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="title">Title</label>
            <input (keyup.enter)="addList()" [(ngModel)]="newListEditor.title" [ngClass]="{ 'is-invalid': newListEditor.error }" class="form-control"
                   id="title"
                   placeholder="List title..." type="text"/>
            <div *ngIf="newListEditor.error" class="invalid-feedback">
                {{ newListEditor.error }}
            </div>
        </div>
        <div *ngIf="debug">
            <pre>{{ newListEditor | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button (click)="newListCancelled()" class="btn btn-default">Cancel</button>
            <button (click)="addList()" class="btn btn-primary">Create</button>
        </div>
    </div>
</ng-template>