<p>Set up basic configuration</p>

<p-steps [model]="items" [readonly]="false"></p-steps>

<form (ngSubmit)="onSubmit()" [formGroup]="teamMatchForm">
    <div class="input-group mb-3">
        <input class="form-control" formControlName="hostTeamName" placeholder="Host Team" type="text"/>
    </div>
    <div class="class">
        <input class="form-control" formControlName="guestTeamName" placeholder="Guest Team" type="text"/>
    </div>

    <div class="main-part">
        <tabset>
            <tab formArrayName="hostPlayers" heading="Host Team">
                <div *ngFor="let player of getHostPlayers.controls; index as i" class="input-group mb-3">
                    <span class="input-group-text">{{i}}</span>
                    <input [formControlName]="i" aria-describedby="basic-addon1" aria-label="Player {{i + 1}}" class="form-control"
                           placeholder="Player" type="text">
                </div>
            </tab>
            <tab formArrayName="guestPlayers" heading="Guest Team">
                <div *ngFor="let player of getGuestPlayers.controls; index as j" class="input-group mb-3">
                    <span class="input-group-text">{{j}}</span>
                    <input [formControlName]="j" aria-describedby="basic-addon1" aria-label="Player {{j + 1}}" class="form-control"
                           placeholder="Player" type="text">
                </div>
            </tab>
        </tabset>
    </div>

    <h4>First double</h4>
    <div class="input-group">
        <label>1. Player</label>
        <select [(ngModel)]="firstDoublePlayer">
            <option *ngFor="let player of getHostPlayers.controls; index as i" [ngValue]="player.value">{{i + 1}} -
                {{player.value}}
            </option>
        </select>
        <label>2. Player</label>
        <select>
            <option *ngFor="let player of getHostPlayers.controls; index as i">{{i + 1}} - {{player.value}}</option>
        </select>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Start game</button>
    </div>
</form>