<div *ngFor="let teamMatch of teamMatches$ | async">
    <div class="team-match">
        <div class="name-container">
            {{teamMatch.hostTeamName}} 
            <span>({{teamMatch.hostVictories}})</span> 
        </div>
        <div class="name-container">
            {{teamMatch.guestTeamName}} 
            <span>({{teamMatch.guestVictories}})</span>
        </div>
        <div class="date-container">
            {{teamMatch.startedAt | date}}
        </div>

        <div class="see-container">
            <button pButton type="button" class="p-button-raised p-button-text" label="See" [routerLink]="['quick-view', teamMatch.teamMatchIdEncoded]"></button>
        </div>
    </div>
</div>
